*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}
div{
	overflow: hidden;
}
a{
	text-decoration: none;
}
body{
	background: #efefef;
}

/*主体部分*/
#content{
	width: 1200px;
	top: 100px;
	margin: 0px 0px 50px 0px;
	left: 10%;
}
/*标签*/
#contentTag{
	width: 1100px;
	overflow: visible;
}
#contentTag span{
	cursor: pointer;
}
#tag-box{
	height: 50px;
	padding: 10px;
}
/*标签*/
.tag{
	float: right;
	height: 25px;
	width: auto;
	min-width: 45px;
	padding: 0px 5px;
	border-radius: 5px;
	margin: 5px 5px 5px 15px;

	font-size: 15px;
	color: #FFFFFF;
	border: 2px solid #46B6FD;
	background: #46B6FD;
	text-align: center;
}
/*标签的白色圆点*/
.tag:after{
	content: "";
	width: 5px;
	height: 5px;
	border-radius: 3px;
	background: #FFFFFF;
	position: absolute;
	left: -5px;
	top: 8px;
}
/*标签的小三角*/
.tag:before{
	content: "";
	width: 0;
	height: 4px;
	border-top: 10px solid transparent;
	border-right: 10px solid #46B6FD;
	border-bottom: 10px solid transparent;
	position: absolute;
	left: -9px;
	top: -2px;
}
/*未选中。灰色*/
.NoChoose{
	background: #C2C2C2;
	border: 2px solid #C2C2C2;
}
.NoChoose:before{
	border-right: 10px solid #C2C2C2;
}

/*列表大盒子*/
#list-box{
	width: 400px;
	float: left;
	padding: 10px 10px;
}
.task{
	height: 200px;
	width: 380px;
	margin: 0px 0px 20px 0px;
	background: #FFFFFF;
	border: 1px solid #D3D3D3;
	box-shadow: 0px 0px 15px #C2C2C2;
	overflow: visible;
	display: block;
}
.task:hover{
	border: 2px solid #46B6FD;
	border-radius: 5px;
}
/*左边小列表被选中*/
.choose {
	border: 2px solid #46B6FD;
	border-radius: 5px;
}
.stateBar{
	height: 50px;
	margin: 5px 10px;
}
.gradeBox{
	overflow: visible;
	float: left;
}
/*紧急程度*/
.grade{
	height: 20px;
	width: 20px;
	left: 15px;
	top: 20px;
	border-radius: 10px;
	float: left;
	margin: 5px;
}

.grade1{
	border: 5px solid red;
}
.grade2{
	border: 5px solid orange;
}
.grade3{
	border: 5px solid green;
}
.stateBar .tag{
	top: 15px;
}
/*标题*/
.title{
	margin: 5px 25px;
	overflow: visible;
}
.day{
	color: #808080;
	margin: 5px 25px;
	overflow: visible;
}
/*进度条*/
.rate{
	height: 10px;
	width: 325px;
	background: #D3D3D3;
	border-radius: 10px;
	margin: 20px 25px;
}
.ratio{
	height: 10px;
	width: 325px;
	background: #46B6FD;
	border-radius: 10px;
	text-align: right;
	left: -325px;
}
.rateVal{
	color: #808080;
	margin: 0px 25px;
}
.addTask .ratio{
	left: -325px;
}
/*删除的垃圾桶图*/
.del{
	opacity: 0.4;
	height: 25px;
	width: 25px;
	float: right;
	right: 10px;
	cursor: pointer;
}
.del:hover{
	opacity: 0.7;
}
.delExt{
	opacity: 0.4;
	height: 25px;
	width: 25px;
	float: right;
	right: 10px;
	cursor: pointer;
}
.delExt:hover{
	opacity: 0.7;
}
/*右边详细内容的大盒子*/
#item-box{
	float: left;
	padding: 10px 10px;

}
/*里边还要套一个小一号的盒纸*/
.item{
	background: #FFFFFF;
	width: 700px;
	border: 1px solid #D3D3D3;
	box-shadow: 0px 0px 15px #C2C2C2;
	padding: 0 0 50px 0;
}
/*不知道这个可不可以算是页眉*/
.header{
	height: 80px;
	border-bottom: 1px solid #D3D3D3;
	padding: 15px;
}
/*大列表里的红绿灯*/
.header .stateBar .grade{
	position: relative;
	top: 5px;
	cursor: auto;
}
/*大列表里的标签*/
.header .stateBar .tag{
	top: 2px;
	cursor: auto;
}
/*增加和删除小项目*/
.itemInput{
	display: none;
	border: 1px solid #D3D3D3;
	width: 500px;
	height: 50px;
	line-height: 54px;
	padding: 0px 10px 0px 20px;
	margin: 0px 40px;
	border-radius: 2px;
}
.itemInput:hover{
	border: 1px solid #46B6FD;
}
/*标题要大一点吧*/
h2{
	margin: 40px;
}
/*每一个小小的项目*/
.items{
	border: 1px solid #D3D3D3;
	width: 600px;
	height: 50px;
	line-height: 50px;
	padding: 0px 10px 0px 20px;
	margin: 0px 50px;
	border-radius: 2px;
	display: block;
}
.items:hover{
	border: 1px solid #46B6FD;
}

/*下划线和改变颜色*/
.spanChecked{
	text-decoration: line-through;
	color: #C2C2C2;
}
/*对勾*/
input[type=checkbox]{
	display: none;
}


@-moz-keyframes dothabottomcheck {
	0% {
		height: 0;
	}
	100% {
		height: 17px;
	}
}
@-webkit-keyframes dothabottomcheck {
	0% {
		height: 0;
	}
	100% {
		height: 17px;
	}
}
@keyframes dothabottomcheck {
	0% {
		height: 0;
	}
	100% {
		height: 17px;
	}
}
@keyframes dothatopcheck {
	0% {
		height: 0;
	}
	50% {
		height: 0;
	}
	100% {
		height: 27px;
	}
}
@-webkit-keyframes dothatopcheck {
	0% {
		height: 0;
	}
	50% {
		height: 0;
	}
	100% {
		height:27px;
	}
}
@-moz-keyframes dothatopcheck {
	0% {
		height: 0;
	}
	50% {
		height: 0;
	}
	100% {
		height: 27px;
	}
}
.checkBox:before, .checkBox:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	height: 0;
	width: 5px;
	background-color: #808080;
	display: inline-block;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	-webkit-transform-origin: left top;
	transform-origin: left top;
	border-radius: 5px;
	content: ' ';
	-webkit-transition: opacity ease 0.5s;
	-moz-transition: opacity ease 0.5s;
	transition: opacity ease 0.5s;
}
.checkBox:after{
	top: 5px;
	left: 0px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkBox {
	height: 25px;
	width: 25px;
	border: 3px solid #d3d3d3;
	border-radius: 5px;
	position: relative;
	display: inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: border-color ease 0.2s;
	-o-transition: border-color ease 0.2s;
	-webkit-transition: border-color ease 0.2s;
	transition: border-color ease 0.2s;
	margin: 12px 15px 12px 0px;
	overflow: visible;
	float: left;
}
.checkBox:before{
	top: 16px;
	left: 13px;
	box-shadow: 0 0 0 2px #ffffff;
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
/*点击对勾追加效果*/
.c:after{
	height: 20px;
	-moz-animation: dothabottomcheck 0.2s ease 0s forwards;
	-o-animation: dothabottomcheck 0.2s ease 0s forwards;
	-webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
	animation: dothabottomcheck 0.2s ease 0s forwards;
}
.c:before {
	height: 30px;
	-moz-animation: dothatopcheck 0.4s ease 0s forwards;
	-o-animation: dothatopcheck 0.4s ease 0s forwards;
	-webkit-animation: dothatopcheck 0.4s ease 0s forwards;
	animation: dothatopcheck 0.4s ease 0s forwards;
}

.title,.day{
	height: 25px;
}
