*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}
div{
	overflow: hidden;
}
a{
	text-decoration: none;
}
body{
	background: #efefef;
}

/*主体部分*/
#content{
	width: 1000px;
	top: 100px;
	margin: 0px auto 50px auto;
}
/*标签*/
#contentTag{
	width: 1000px;
	overflow: visible;
}
#tag-box{
	height: 50px;
	padding: 10px;
}
/*上方标签部分的img*/
#tag-box img{
	float: right;
	height: 20px;
	width: 20px;
	margin: 5px;
	cursor: pointer;
}
/*对勾*/
.tagOk{
	display: none;
}
/*删除标签（减号）*/
.tagDel{
	display: none;
	float: right;
	height: 20px;
	width: 20px;
	margin: 5px;
	cursor: pointer;
	font-size: 30px;
	background: #FFFFFF;
	border: 1px dashed #C2C2C2;
	color: #C2C2C2;
	border-radius: 10px;
	line-height: 15px;
	text-align: center;
	left: 7px;
	top: 2px;
}
/*添加新标签*/
.addTag{
	display: none;
	float: right;
	height: 20px;
	width: 120px;
	margin: 5px;
	cursor: pointer;
	background: #FFFFFF;
	border: 1px dashed #C2C2C2;
	color: #C2C2C2;
	border-radius: 10px;
	line-height: 16px;
	text-align: center;
	top: 2px;
}
/*新的标签*/
.newTag{
	float: right;
	overflow: visible;
}
.newTag span{
	display: none;
}
.inputTag{
	top: 3px;
	width: 80px;
	height: 25px;
	line-height: 25px;
	border-radius: 5px;
	border: 1px solid #C2C2C2;
}
/*标签*/
.tag{
	float: right;
	height: 25px;
	width: auto;
	min-width: 45px;
	padding: 0px 5px;
	border-radius: 5px;
	margin: 5px 5px 5px 15px;
	cursor: pointer;
	font-size: 15px;
	color: #FFFFFF;
	border: 2px solid #46B6FD;
	background: #46B6FD;
	text-align: center;
}
/*标签的白色圆点*/
.tag:after{
	content: "";
	width: 5px;
	height: 5px;
	border-radius: 3px;
	background: #FFFFFF;
	position: absolute;
	left: -5px;
	top: 8px;
}
/*标签的小三角*/
.tag:before{
	content: "";
	width: 0;
	height: 4px;
	border-top: 10px solid transparent;
	border-right: 10px solid #46B6FD;
	border-bottom: 10px solid transparent;
	position: absolute;
	left: -9px;
	top: -2px;
}
/*浮动窗里的标签*/
.allTag span{
	float: left;
}
/*未选中。灰色*/
.NoChoose{
	background: #C2C2C2;
	border: 2px solid #C2C2C2;
}
.NoChoose:before{
	border-right: 10px solid #C2C2C2;
}
/*标签悬浮*/
.allTag{
	background: #FFFFFF;
	box-shadow: 0px 0px 10px #808080;
	border: 1px solid #C2C2C2;
	position: absolute;
	padding: 5px;
	z-index: 5;
	top: 60px;
	right: 10px;
	overflow: visible;
	border-radius: 5px;
	display: none;
}
.allTag:after{
	content: "";
	position: absolute;
	top: -10px;
	right: 7px;
	background: url("../icon/arrow.png") no-repeat;
	background-size: 100% 100%;
	height: 10px;
	width: 20px;
}

/*列表大盒子*/
#list-box{
	width: 400px;
	float: left;
	padding: 10px 10px;
}
.task{
	height: 200px;
	width: 380px;
	margin: 0px 0px 20px 0px;
	background: #FFFFFF;
	border: 1px solid #D3D3D3;
	box-shadow: 0px 0px 15px #C2C2C2;
	overflow: visible;
	display: block;
}
.task:hover{
	border: 2px solid #46B6FD;
	border-radius: 5px;
}
/*左边小列表被选中*/
.choose {
	border: 2px solid #46B6FD;
	border-radius: 5px;
}
.stateBar{
	height: 50px;
	margin: 5px 10px;
}
.gradeBox{
	overflow: visible;
	float: left;
}
/*紧急程度*/
.grade{
	height: 20px;
	width: 20px;
	left: 15px;
	top: 20px;
	border-radius: 10px;
	float: left;
	margin: 5px;
	cursor: pointer;
}

.grade1{
	border: 5px solid red;
	opacity: 0.1;
}
.grade2{
	border: 5px solid orange;
	opacity: 0.1;
}
.grade3{
	border: 5px solid green;
	opacity: 0.1;
}
.stateBar .tag{
	top: 15px;
}
/*标题*/
.title{
	margin: 5px 25px;
}
.title input{
	z-index: 2;
	height: 25px;
	width: 200px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #C2C2C2;
}
.day{
	color: #808080;
	margin: 5px 25px;
	overflow: visible;
}
.day input{

}
/*进度条*/
.rate{
	height: 10px;
	width: 325px;
	background: #D3D3D3;
	border-radius: 10px;
	margin: 20px 25px;
}
.ratio{
	height: 10px;
	width: 325px;
	background: #46B6FD;
	border-radius: 10px;
	text-align: right;
}
.rateVal{
	color: #808080;
	margin: 0px 25px;
}


/*增加的列表*/
.addTask{
	/*display: none;*/
	cursor: pointer;
}

.addTask .ratio{
	left: -325px;
}
/*删除小列表的垃圾桶图*/
.del{
	opacity: 0.3;
	height: 20px;
	width: 20px;
	float: right;
	right: 10px;
	cursor: pointer;
}
.del:hover{
	opacity: 0.6;
}

/*右边详细内容的大盒子*/
#item-box{
	width: 600px;
	float: left;
	padding: 10px 10px;

}
/*里边还要套一个小一号的盒纸*/
.item{
	background: #FFFFFF;
	width: 580px;
	border: 1px solid #D3D3D3;
	box-shadow: 0px 0px 15px #C2C2C2;
}
/*不知道这个可不可以算是页眉*/
.header{
	height: 80px;
	border-bottom: 1px solid #D3D3D3;
	padding: 15px;
}
/*大列表里的红绿灯*/
.header .stateBar .grade{
	position: relative;
	top: 5px;
	cursor: auto;
}
/*大列表里的标签*/
.header .stateBar .tag{
	top: 2px;
	cursor: auto;
}
/*修改*/
.change{
	float: right;
	height: 25px;
	width: 25px;
	margin: 5px;
	cursor: pointer;
}
/*增加和删除小项目*/
.itemInput{

	display: none;
	border: 1px solid #D3D3D3;
	width: 500px;
	height: 50px;
	line-height: 54px;
	padding: 0px 10px 0px 20px;
	margin: 0px 40px;
	border-radius: 2px;
}
.itemInput:hover{
	border: 1px solid #46B6FD;
}
/*输入框*/
.itemInput input{
	padding: 0px 10px ;
	font-size: 15px;
	height: 45px;
	width: 330px;
	border-radius: 5px;
	border: 1px solid #f1f1f1;
	top: -4px;
}

.itemInput img{
	float: right;
	height: 20px;
	width: 20px;
	opacity: 0.3;
	cursor: pointer;
	margin: 15px 10px 15px 15px;
}
.itemInput img:hover{
	opacity: 0.6;
}

/*标题要大一点吧*/
h2{
	margin: 40px;
}
/*每一个小小的项目*/
.items{
	border: 1px solid #D3D3D3;
	width: 500px;
	height: 50px;
	line-height: 50px;
	padding: 0px 10px 0px 20px;
	margin: 0px 40px;
	border-radius: 2px;
	display: block;
}
.items:hover{
	border: 1px solid #46B6FD;
}

.items input{
	background: #FFFFFF;
	height: 15px;
	width: 15px;
}
/*下划线和改变颜色*/
.spanChecked{
	text-decoration: line-through;
	color: #C2C2C2;
}
/*对勾*/
input[type=checkbox]{
	display: none;
}


@-moz-keyframes dothabottomcheck {
	0% {
		height: 0;
	}

	100% {
		height: 17px;
	}
}
@-webkit-keyframes dothabottomcheck {
	0% {
		height: 0;
	}

	100% {
		height: 17px;
	}
}
@keyframes dothabottomcheck {
	0% {
		height: 0;
	}

	100% {
		height: 17px;
	}
}
@keyframes dothatopcheck {
	0% {
		height: 0;
	}

	50% {
		height: 0;
	}

	100% {
		height: 27px;
	}
}
@-webkit-keyframes dothatopcheck {
	0% {
		height: 0;
	}

	50% {
		height: 0;
	}

	100% {
		height:27px;
	}
}
@-moz-keyframes dothatopcheck {
	0% {
		height: 0;
	}

	50% {
		height: 0;
	}

	100% {
		height: 27px;
	}
}
.checkBox:before, .checkBox:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	height: 0;
	width: 5px;
	background-color: #34b93d;
	display: inline-block;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	-webkit-transform-origin: left top;
	transform-origin: left top;
	border-radius: 5px;
	content: ' ';
	-webkit-transition: opacity ease 0.5s;
	-moz-transition: opacity ease 0.5s;
	transition: opacity ease 0.5s;
}
.checkBox:after{
	top: 5px;
	left: 0px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkBox {
	height: 25px;
	width: 25px;
	border: 3px solid #d3d3d3;
	border-radius: 5px;
	position: relative;
	display: inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: border-color ease 0.2s;
	-o-transition: border-color ease 0.2s;
	-webkit-transition: border-color ease 0.2s;
	transition: border-color ease 0.2s;
	margin: 12px 15px 12px 0px;
	overflow: visible;
	float: left;
}
.checkBox:before{
	top: 16px;
	left: 13px;
	box-shadow: 0 0 0 2px #ffffff;
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
/*点击对勾追加效果*/
.c:after{
	height: 20px;
	-moz-animation: dothabottomcheck 0.2s ease 0s forwards;
	-o-animation: dothabottomcheck 0.2s ease 0s forwards;
	-webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
	animation: dothabottomcheck 0.2s ease 0s forwards;
}
.c:before {
	height: 30px;
	-moz-animation: dothatopcheck 0.4s ease 0s forwards;
	-o-animation: dothatopcheck 0.4s ease 0s forwards;
	-webkit-animation: dothatopcheck 0.4s ease 0s forwards;
	animation: dothatopcheck 0.4s ease 0s forwards;
}
/*划线*/
.line{

}
/*小列表的标题*/
.listInput{
	display: none;
}
/*这里要来一个超长夜用的。。*/
.items label{

}
.title,.day{
	height: 25px;
}
/*下边还要添加新的小项目呢*/
.add{
	height: 40px;
	width: 500px;
	margin: 30px 40px;
	background: #46B6FD;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}
.add:hover{
	background: #009cff;
}
.add img{
	width: 20px;
	height: 20px;
	margin: 10px;
}
.changeOk{
	display: none;
	height: 40px;
	width: 500px;
	margin: 30px 40px;
	background: #34b93d;
	opacity: 0.8;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}
.changeOk:hover{
	opacity: 1;
}
.changeOk img{
	width: 20px;
	height: 20px;
	margin: 10px;
}
.newDiv {
	display: none;
}
