*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
div{
	overflow: hidden;
}
a{
	text-decoration: none;
}
body{
	background: #efefef;
}
/*侧导航*/
#nav-left{
	position: fixed;
	height: 100vh;
	width: 50px;
	background: #009CFF;
	left: 0;
	z-index: 1000;
	box-shadow: 0px 0px 20px #0064FF;
	padding: 80px 0px;
	float: left;
}
/*侧导航链接*/
#nav-left a{
	padding: 20px 15px;
	opacity: 0.6;
	float: left;
}
#nav-left a:hover{
	opacity: 1.0;
	transform: scale(1.3, 1.3);
	-webkit-transform: scale(1.3, 1.3);
	-ms-transform: scale(1.3, 1.3);
}
/*侧导航链接里的图标*/
#nav-left img{
	width: 20px;
	float: left;
}
/*上导航*/
#nav-top{
	position: fixed;
	top: 0;
	background: #FFFFFF;
	height: 60px;
	width: 100vw;
	box-shadow: 0px 0px 35px #c2c2c2;
	padding: 0px 60px 0px 100px;
	z-index: 500;
	float: left;
}
/*搜索*/
#search{
	padding: 15px 0px;
	float: left;
}
#search-text{
	line-height: 30px;
	border: 1px solid #C2C2C2;
	border-radius: 10px 0px 0px 10px;
	padding: 0px 10px;
	float: left;
}
#search-button{
	height: 31px;
	width: 50px;
	background: #C2C2C2;
	border: 1px solid #C2C2C2;
	border-radius: 0px 10px 10px 0px;
	cursor: pointer;
	float: left;
}
#search img{
	left: 10px;
	height: 20px;
	width: 20px;
	float: left;
}
/*提醒*/
#remind{
	float: right;
	padding: 15px;
}
#remind img{
	height: 30px;
	width: 30px;
}
#remind span{
	
}
/*个人中心*/
#personal{
	float: right;
	padding: 5px;
}
#open{
	height: 20px;
	width: 20px;
	top: -5px;
	margin: 5px;
}

/*主体部分*/
#content{
	width: 1000px;
	top: 100px;
	margin: 0px auto 50px auto;
}
/*标签*/
#tag-box{
	height: 50px;
	padding: 10px;
	
}
.tag{
	float: left;
	height: 30px;
	width: auto;
	padding: 5px 15px;
	border: 2px solid #46B6FD;
	background: #46B6FD;
	border-radius: 5px;
	margin: 0px 20px;
	cursor: pointer;
	font-size: 10px;
	color: #FFFFFF;
}
.tag:after{
	content: "";
	width: 5px;
	height: 5px;
	border-radius: 3px;
	background: #FFFFFF;
	position: absolute;
	left: -5px;
	top: 10px;
}
.tag:before{
	content: "";
	width: 0;
    height: 4px;
    border-top: 11px solid transparent;
    border-right: 13px solid #46B6FD;
    border-bottom: 11px solid transparent;
    position: absolute;
    left: -14px;
	top: 0px;
}
/*列表大盒子*/
#list-box{
	width: 400px;
	float: left;
	padding: 10px 10px;
}
.list{
	height: 200px;
	width: 380px;
	margin: 0px 0px 20px 0px;
	background: #FFFFFF;
	border: 1px solid #D3D3D3;
	box-shadow: 0px 0px 15px #C2C2C2;
}
.list:hover{
	border: 2px solid #46B6FD;
	border-radius: 5px;
}
.other{
	height: 50px;
	margin: 5px 10px;
}

/*紧急程度*/
.grade{
	height: 20px;
	width: 20px;
	left: 15px;
	top: 20px;
	border-radius: 10px;
	background: #ff5139;
}
/*标题*/
.title{
	margin: 5px 25px;
}
.day{
	color: #808080;
	margin: 5px 25px;
}
/*进度条*/
.rate{
	height: 10px;
	width: 325px;
	background: #D3D3D3;
	border-radius: 10px;
	margin: 20px 25px;
}
.ratio{
	height: 10px;
	width: 325px;
	background: #46B6FD;
	border-radius: 10px;
	text-align: right;
	left: -195px;
}
.rateVal{
	color: #808080;
	margin: 0px 25px;
}
/*右边详细内容的大盒子*/
#item-box{
	width: 600px;
	float: left;
	padding: 10px 10px;
}
/*里边还要套一个小一号的盒纸*/
.item{
	background: #FFFFFF;
	width: 580px;
	border: 1px solid #D3D3D3;
	box-shadow: 0px 0px 15px #C2C2C2;
}
/*不知道这个可不可以算是页眉*/
.header{
	height: 80px;
	border-bottom: 1px solid #D3D3D3;
	padding: 25px;
}
.header div{
	margin: 0px 20px;
}
/*红绿灯*/
.header .grade{
	float: left;
	left: 0px;
	top: 5px;
}
/*更多~~*/
.more{
	float: right;
}
/*标题要大一点吧*/
h2{
	margin: 40px;
}
/*每一个小小的项目*/
.items{
	border: 1px solid #D3D3D3;
	width: 500px;
	height: 50px;
	line-height: 50px;
	padding: 0px 30px;
	margin: 0px 40px;
	border-radius: 2px;
}
.items:hover{
	border: 1px solid #46B6FD;
}
.items input{
	background: #FFFFFF;
	height: 15px;
	width: 15px;
}
/*这里要来一个超长夜用的。。*/
.items label{

}
/*下边还要添加新的项目呢*/
.add{
	height: 40px;
	width: 500px;
	margin: 30px 40px;
	background: #dcdcdc;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}
.add:hover{
	background: #46B6FD;
}
.add img{
	width: 20px;
	height: 20px;
	margin: 10px;
}